$swift-out: cubic-bezier(.55,0,.1,1);

.fade-transition {
	opacity: 1;
	transition: opacity 0.2s linear;

	&.fade-enter {
		opacity: 0;
	}

	&.fade-leave {
		@extend .fade-enter;
		pointer-events: none;
	}
}

#svg {
	.target-transition {
		opacity: 1;
		transition-property: transform, opacity;
		transition-duration: 0.15s;
		transition-timing-function: linear;
		&.target-leave {
			@extend .fade-transition.fade-leave;
			transform: scale(1.1);
			transform-origin: center;
			pointer-events: none;
		}
	}

	.click-transition {
		opacity: 1;
		pointer-events: none;
		transition: opacity 0.2s linear;
		&.click-leave {
			@extend .target-transition.target-leave
		}
	}
}

$digit-height: 100%;
.countdown-transition {
	&.countdown-leave {
		animation: countdown 3s $swift-out;
	}
}

@mixin animate($count) {
	0% { transform: translateY($digit-height); }
	$step: (100 / ($count));
	$progress: (50 / ($count));
	$translate: 0;
	@while $progress <= (100 - 50/($count) + 0.5) {
		#{$progress}% { transform: translateY($translate); }
		$progress: $progress + $step;
		$translate: $translate - $digit-height;
	}
	100% { transform: translateY($translate); }
}

@keyframes countdown {
	@include animate(3);
}

