@mixin slider($component) {
	@if $component == track {
		&::-webkit-slider-runnable-track {
			position: relative;
			@content;
		}
		&::-moz-range-track {
			@content;
		}
		&::-ms-track {
			border: none;
			@content;
			color: transparent;
		}
	} @else if $component == thumb {
		&::-webkit-slider-thumb {
			@content;
		}
		&::-ms-track {
			@content;
		}
		&::-moz-range-thumb {
			@content;
		}
	}
}