@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
	background-color: black;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	width: 100%;
	height: 100%;
	* {
		box-sizing: border-box;
	}
}

%fullscreen {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

section {
	@extend %fullscreen;
	cursor: auto;
	display: flex;
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.5);
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	z-index: 1;

	p {
		width: 100%;
		font-size: 2rem;
		text-align: center;
		color: white;
	}

	h1, h2 {
		align-self: center;
		color: white;
		margin: 0;
	}
}

h1 {
	font-size: 2rem;
}

button {
	cursor: pointer;
	color: black;
	background-color: white;
	padding: 1rem 2rem;
	font-size: 2rem;
	border: none;
	border-radius: 1rem;
	user-select: none;
	transition: opacity 0.1s linear;
	align-self: center;
	&:active {
		color: gray;
	}
}

#canvas {
	@extend %fullscreen;
	z-index: 0;
}